<div class="container clearfix">
    <div class="row">
        <div class="col-md-3">
            <span>{{trip.driverName}}</span>
        </div>
        <div class="col-md-2">
            <span>{{trip.from}}</span>
        </div>
        <div class="col-md-2">
            <span>{{trip.to}}</span>
        </div>
        <div class="col-md-2">
            <span>{{trip.departureDate}}</span>
        </div>
        <div class="col-md-2" ng-show="identity.isAuthenticated">
            <img ng-src="z/img/tick" src=""></span>
        </div>
    </div>
</div>